{% extends 'base.html' %}
{% block title %}Boletim de {{ user.nome_usual }}{% endblock title %}

{% block content %}
<!-- Página de Boletins -->
<div class="container my-4">
    <div id="grades" class="page active-page">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="card-custom">
                    <div class="card-header-custom">
                        <h2><i class="fas fa-book me-2"></i>Boletins Acadêmicos</h2>
                    </div>
                    <div class="card-body p-4">
                        <form class="w-100" action="{{ url_for('boletim') }}" method="get">
                            <label for="periodo" class="form-label">Escolha o período:</label>
                            <div class="input-group mb-3">
                                <select id="periodo" name="periodo" class="form-select">
                                    {% for p in periodos %}
                                    {% set periodo_str = p.ano_letivo|string + '.' + p.periodo_letivo|string %}
                                    <option value="{{ periodo_str }}" {% if selected_periodo==periodo_str %}selected{%
                                        endif %}>
                                        {{ periodo_str }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-outline-danger">
                                    <i class="fa fa-search fa-sm " style="color: var(--light-red);"></i>
                                </button>
                            </div>
                        </form>

                        <div class="table-responsive mb-5">
                            <table class="table table-custom table-hover">
                                <thead>
                                    <tr>
                                        <th>Disciplina</th>
                                        <th>Faltas</th>
                                        <th>1º Bim</th>
                                        <th>2º Bim</th>
                                        <th>3º Bim</th>
                                        <th>4º Bim</th>
                                        <th>Média</th>
                                        <th>Situação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in boletim_data %}
                                    <tr>
                                        <td>{{ data.disciplina }}</td>
                                        <td>{{ data.numero_faltas }}</td>
                                        <td>{{ data.nota_etapa_1.nota if data.nota_etapa_1.nota else 'N/A' }}</td>
                                        <td>{{ data.nota_etapa_2.nota if data.nota_etapa_2.nota else 'N/A' }}</td>
                                        <td>{{ data.nota_etapa_3.nota if data.nota_etapa_3.nota else 'N/A' }}</td>
                                        <td>{{ data.nota_etapa_4.nota if data.nota_etapa_4.nota else 'N/A' }}</td>
                                        <td>{{ data.media_final_disciplina if data.media_final_disciplina else 'N/A' }}
                                        </td>
                                        <td>{{ data.situacao }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}