{% extends 'base.html' %}
{% block title %}Boletim de {{ user.nome_usual }}{% endblock title %}

{% block content %}
<!-- Página Inicial -->
<div class="container my-5">
    <div id="home" class="page active-page">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <div class="card-custom pulse-effect">
                    <div class="card-header-custom">
                        <h2><i class="fas fa-graduation-cap me-2"></i>Bem-vindo ao Portal SUAP</h2>
                    </div>
                    <div class="card-body p-5">
                        <div class="avatar">
                            <i class="fas fa-user"></i>
                        </div>
                        <h3>Olá, {{ user.nome }}</h3>
                        <p class="text-white">Acesse suas informações acadêmicas e boletins</p>

                        <div class="row mt-4">
                            <div class="col-md-6 mb-3">
                                <div class="card-custom h-100">
                                    <div class="card-body text-center">
                                        <i class="fas fa-user fa-3x mt-3" style="color: var(--light-red);"></i>
                                        <h4 class="mt-3">Perfil</h4>
                                        <p>Visualize suas informações pessoais</p>
                                        <a class="btn btn-custom mb-3" href="{{ url_for('perfil') }}">Acessar
                                            Perfil</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card-custom h-100">
                                    <div class="card-body text-center">
                                        <i class="fas fa-book fa-3x mt-3" style="color: var(--light-red);"></i>
                                        <h4 class="mt-3">Boletins</h4>
                                        <p>Consulte suas notas e histórico acadêmico</p>
                                        <a href="{{ url_for('boletim') }}" class="btn btn-custom">Ver
                                            Boletins</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}